html,
body {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}

#root,
.main {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 0;
}